{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} MBM - Login Page {% endblock %}

{% block header '' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="css/mbm/register.css">
{% endblock %}

{% block content %}

    <div class="wrapper-content">
        <div class="wrapper-content__container">
            <div class="wrapper-content__container__left-side" style="background-image: url('images/regie/register.jpg');">
            </div>
            <div class="wrapper-content__container__right-side">
                <form class="login-form validate-form">
                    
                    <span class="login-form__title">
                       Connexion
                    </span>

                    <div class="login-form__input__wrap validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                        <span class="login-form__input__label">Email</span>
                        <input class="login-form__input" type="text" name="email" placeholder="Adresse email...">
                        <span class="login-form__input__focus"></span>
                    </div>

                    <div class="login-form__input__wrap validate-input" data-validate = "Password is required">
                        <span class="login-form__input__label">Mot de passe</span>
                        <input class="login-form__input" type="text" name="pass" placeholder="*************">
                        <span class="login-form__input__focus"></span>
                    </div>

                    <div class="container-login-form-btn">
                        <div class="wrap-login-form-btn">
                            <div class="login-form-bgbtn"></div>
                            <button class="login-form-btn">
                                Connection
                            </button>
                        </div>

                        <a href="{{ path('regie-register') }}" class="login-form__a__login">
                            S'inscrire
                            <i class="fa fa-long-arrow-right m-l-5"></i>
                        </a>
                    </div>

                    <div class="container-login-form-btn">
                        <a href="{{ path('lost-password') }}" class="login-form__a__login">
                            Mot de passe oublié ?
                            {# <i class="fa fa-long-arrow-right m-l-5"></i> #}
                        </a>
                    </div>

                </form>
            </div> 
        </div>
    </div>
       
{% endblock %}


{% block footer '' %}