{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	MBM - Detail
{% endblock %}

{% block header '' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="css/mbm/register.css">
  <link rel="stylesheet" href="css/mbm/regie-detail.css">
    <link href="css/addons-pro/simple-charts.min.css" rel="stylesheet">
    
{% endblock %}

{% block content %}
<div class="container">
  <div class="side">
    <h1>Détail analytique de la campagne publicitaire</h1>
    <ul class="links">
      <li><a href="#" class="selected" data-metric="visits">Visite</a></li>
      
    </ul>
    <div class="stats">
      <ul data-metric="visits">
        <li>
          <div class="key">Total de visites</div>
          <div class="val">356</div>
        </li>
        <li>
          <div class="key">Temps resté</div>
          <div class="val">1.30 min</div>
        </li>
        <li>
          <div class="key">Nbrs Achats</div>
          <div class="val">55</div>
        </li>
      </ul>
      <ul data-metric="pageviews">
        <li>
          <div class="key">Nombre de o</div>
          <div class="val">468</div>
        </li>
        <li>
          <div class="key">Average</div>
          <div class="val">66.9</div>
        </li>
        <li>
          <div class="key">Change</div>
          <div class="val">+16.7%</div>
        </li>
      </ul>
      <ul data-metric="conversions">
        <li>
          <div class="key">Total Conversions</div>
          <div class="val">456</div>
        </li>
        <li>
          <div class="key">Average</div>
          <div class="val">65.1</div>
        </li>
        <li>
          <div class="key">Change</div>
          <div class="val">-47.4%</div>
        </li>
      </ul>
    </div>
    <ul>
      <li>
        <div class="key">Temps restant</div>
        <div class="val"> 25 jours</div>
      </li>
      <li>
        <div class="key">Localisation</div>
        <div class="val">IDF</div>
      </li>
      <li>
        <div class="key">CPC</div>
        <div class="val">10 €</div>
      </li>
    </ul>
  </div>
  <div class="main">
    <ul>
      <li class="active">
        <article tabindex="0" data-metric="visits">
          <div class="area">
            <div class="lines">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <div class="data visits">
              <dl>
                <dt>Janvier</dt>
                <dd>36</dd>
              </dl>
              <dl>
                <dt>Fevrier</dt>
                <dd>44</dd>
              </dl>
              <dl>
                <dt>Mars</dt>
                <dd>52</dd>
              </dl>
              <dl>
                <dt>Avril</dt>
                <dd>32</dd>
              </dl>
              <dl>
                <dt>Mai</dt>
                <dd>44</dd>
              </dl>
              <dl>
                <dt>Juin</dt>
                <dd>68</dd>
              </dl>
              <dl>
                <dt>Juillet</dt>
                <dd>80</dd>
              </dl>
            </div>
          </div>
          <h1>Detail de visites</h1>
        </article>
      </li>
      <li>
      
      </li>
      <li>
       
      </li>
    </ul>
  </div>
</div>

{% endblock %}{% block footer '' %}