/* Start Overrride */

.slider__activation__wrap .owl-nav div {
    /* background: linear-gradient(#9C97E5, #2B2743); */
    background: #564D85;
}

a#scrollUp {
    background: #564D85;
}

.header__search a::before {
    background: none;
}


/* End Override */