/* Start Overrride */

.slider__activation__wrap .owl-nav div {
    /* background: linear-gradient(#9C97E5, #2B2743); */
    background: #564D85;
}

a#scrollUp {
    background: #564D85;
}


/* End Override */

/* CONTACT PAGE  */

.address__icon {
    background: #564D85 none repeat scroll 0 0;
    height: 120px;
    line-height: 144px;
    text-align: center;
    width: 110px;
}
/* End Contact */ 