{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	MBM - Home Page
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="css/mbm/home.css">
{% endblock %}

{% block content %}

	<!-- Start Bradcaump area -->
	<div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(images/bg/contact.jpg) no-repeat scroll center center / cover ;">
		<div class="ht__bradcaump__wrap">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="bradcaump__inner">
							<nav class="bradcaump-inner">
								<a class="breadcrumb-item" href="index.html">Home</a>
								<span class="brd-separetor">
									<i class="zmdi zmdi-chevron-right"></i>
								</span>
								<span class="breadcrumb-item active">Contact</span>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br/><br/>
	<h2 class="" style="text-align:center;">Contactez-nous !
	</h2>
	<!-- End Bradcaump area -->
	<section class="htc__contact__area ptb--100 bg__white">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">
					<div class="map-contacts--2">
						<div id="googleMap">
							<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10493.055433055484!2d2.2841461!3d48.8913084!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x648913b6b58c1316!2sIMIE%20Paris!5e0!3m2!1sfr!2sfr!4v1583179954364!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="">
							</iframe>
						</div>
					</div>
				</div>
				<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">

					<div class="address">
						<div class="address__icon">
							<i class="icon-location-pin icons"></i>
						</div>
						<div class="address__details">
							<h2 class="ct__title">Notre adresse</h2>
							<p>70 rue Marius Aufran, 92300 Levallois</p>
						</div>
					</div>
					<div class="address">
						<div class="address__icon">
							<i class="icon-envelope icons"></i>
						</div>
						<div class="address__details">
							<h2 class="ct__title">Une question ?</h2>
							<p>contact@mbm.com
							</p>
						</div>
					</div>
					
					<div class="address">
						<div class="address__icon">
							<i class="icon-phone icons"></i>
						</div>
						<div class="address__details">
							<h2 class="ct__title">Notre numéro de téléphone</h2>
							<p>01 45 55 88 99</p>
						</div>
					</div>
				</div>
			</div>
			{# <div class="row">
			                    <div class="contact-form-wrap mt--60">
			                        <div class="col-xs-12">
			                            <div class="contact-title">
			                                <h2 class="title__line--6">SEND A MAIL</h2>
			                            </div>
			                        </div>
			                        <div class="col-xs-12">
			                            <form id="contact-form" action="#" method="post">
			                                <div class="single-contact-form">
			                                    <div class="contact-box name">
			                                        <input type="text" name="name" placeholder="Your Name*">
			                                        <input type="email" name="email" placeholder="Mail*">
			                                    </div>
			                                </div>
			                                <div class="single-contact-form">
			                                    <div class="contact-box subject">
			                                        <input type="text" name="subject" placeholder="Subject*">
			                                    </div>
			                                </div>
			                                <div class="single-contact-form">
			                                    <div class="contact-box message">
			                                        <textarea name="message" placeholder="Your Message"></textarea>
			                                    </div>
			                                </div>
			                                <div class="contact-btn">
			                                    <button type="submit" class="fv-btn">Send MESSAGE</button>
			                                </div>
			                            </form>
			                            <div class="form-output">
			                                <p class="form-messege"></p>
			                            </div>
			                        </div>
			                    </div> 
			                </div>
			            </div> #}
		</section>


	{% endblock %}
