{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} MBM - 404 Error Page {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="css/mbm/404.css">
{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="error-404">
      404
    </h1>
      <p class="opps">OPPS! PAGE NOT FOUND</p>
      <p class="sentence">
        Aucune ressource n'a été trouvée à l'adresse demandée.
      </p>

      <a class="btn btn-default btn-404 btn-lg" href="{{ path('home') }}" role="button">Back to home page</a>
  </div>
{% endblock %}

<!-- 
Erreur interne du Serveur [moyen black]
ERREUR 500 [big red]
Désolé impossible d'afficher la page que vous cherchez [gris smaller]
Le serveur a rencontrer un pb et ne peut traiter la requête [Black smaller]
btn revenir à l'accueil
 -->